* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background: linear-gradient(95deg, rgb(2, 78, 2), grey);
}

.cabecao {
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
}

ul {
    height: 100%;
    list-style-type: none;
}

.cabecao button {
    padding: 15px;
    margin: 4px;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 110px;
}

.cabecao button:hover {
    border-color: green;
}

.cabecao nav ul li {
    display: inline-block;
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Media query for screens with a width of 430px or less */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background: linear-gradient(95deg, rgb(2, 78, 2), grey);
}

.cabecao {
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
}

ul {
    height: 100%;
    list-style-type: none;
}

.cabecao button {
    padding: 15px;
    margin: 4px;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 110px;
}

.cabecao button:hover {
    border-color: green;
}

.cabecao nav ul li {
    display: inline-block;
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background: linear-gradient(95deg, rgb(2, 78, 2), grey);
}

.cabecao {
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
}

ul {
    height: 100%;
    list-style-type: none;
}

.cabecao button {
    padding: 15px;
    margin: 4px;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 110px;
}

.cabecao button:hover {
    border-color: green;
}

.cabecao nav ul li {
    display: inline-block;
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Media query for screens with a width of 430px or less */
@media (max-width: 430px) {

    body {
        background: linear-gradient(95deg, rgb(2, 78, 2), grey);
    }

    .cabecao nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 55px;
        height: 100%;
        background-color: #202020;
        box-shadow: 4px 0 0 #015f01;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: .3s;
    }

    .cabecao nav:hover {
        width: 300px;
    }

    .cabecao nav ul {
        width: 100%;
        padding: 0;
    }

    .cabecao nav ul li {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }

    .cabecao button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        margin: 4px;
        border-radius: 15px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        width: 100%;
    }

    .material-symbols-outlined {
        font-size: 24px;
        margin-right: 10px;
    }
}
